body
{
	background-color: #CFB53B;
	font-family: "futura"
}

.carouselImages
{
	height: 47vh; 
	margin-left:35vw;
}

#slideshow
{

	max-height: 40vh!important;

}

#quote
{
	border: 3px solid black;
	padding: 1vw;
	width: 30vw;
	margin-top: 10vh; 
	margin-left:5vw; 
	font-size:50px;"

}

#ScheduleACall
{
	position: relative;

	margin-top: 5vh;
}

#ScheduleACall:hover
{
	background-color: black;
	color: #CFB53B;	
}

#updates
{
	margin-left: 16vw;
	border: 3px solid black;
	height: 30vh;
	overflow-y: scroll;
	width: 14vw;
}


.infoButtons
{
	margin-left: 17vw;
}

.socialMedia
{
	color: black;
	margin-left: -5vw;
}

.socialMedia:hover
{
	color: black;

}


thead
{
	background-color: black;
	color:#CFB53B;
}

td
{
	border:1px solid black;
}

#name
{
	margin-left: 1vw; 
	margin-top:35vh;
}
#class
{
	margin-left: 1vw; 
	margin-top: -1vh;
}

#socialMediaRow
{
	margin-left: 20vw;
}



@media (max-width:576px) and (max-width: 768px)
{

	.carouselImages
	{
		height: 47vh; 
		margin-left:15vw;
	}

	#name
	{
		margin-left: 14vw;
		margin-top: 40vh;
		width: 25vw;
	}
	#class
	{
		position: relative;
		margin-left: 14vw;
		width: 25vw;
	}
	#ScheduleACall
	{
		margin-top: 40vh;
		margin-left: 1vw;
	}
	#quote
	{
		border: 3px solid black;
		padding: 1vw;
		width: 50vw;
		margin-top: 5vh; 
		margin-left:5vw; 
		font-size:40px;
	}

	#socialMediaRow
	{
		margin-left: 7vw;
	}
	.socialMedia
	{
		margin-left: -10vw;
	}

	#updates
	{
		margin-top: 5vh; 
		margin-left: -68vw;
		border: 3px solid black;
		height: 20vh;
		overflow-y: scroll;
		width: 50vw;
	}


}




